@import "../../assets/styles/variables.scss";

.creatingTheme {
  background-color: $sectionBg;
  padding: 20px 0;
  .pageheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    form {
      display: flex;
      .search-input {
        position: relative;
        input {
          width: 422px;
          height: 43px;
          padding: 10px 20px;
          background: white;
          border-radius: 10px;
          border: none;
          outline: none;
        }
        ::placeholder {
          font-size: 18px;
          line-height: 23px;
        }
        ::-webkit-search-cancel-button {
          display: none;
        }
        button {
          position: absolute;
          right: 0;
          padding: 10px;
        }
      }
    }
    .userDetails {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      line-height: 18px;
      .profileDetails {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
        &:not(:last-child) {
          border-right: 2px solid $headerBlack;
          padding-right: 10px;
        }
        span {
          margin: 0 5px;
        }
      }
    }
  }
  .section-header {
    margin: 25px 0;
    background-color: #fff;
    width: 100%;
    padding: 30px 33px 47px 33px;
    box-shadow: 0px 4px 0px #53d86a;
    border-radius: 10px;
    h2 {
      font-size: 36px;
      font-weight: 400;
      line-height: 47px;
      margin: 0;
    }
    .input-element {
      display: flex;
      flex-direction: column;
      margin-top: 17px;
      label {
        font-size: 18px;
        line-height: 23px;
        color: $paragraphGrey;
        margin-bottom: 5px;
      }
      input {
        border: 1px solid #d8d8d8;
        outline: none;
        height: 55px;
        font-size: 18px;
        line-height: 23px;
        padding: 20px;
      }
    }
  }
  .buttonForEtiquette {
    button {
      background-color: $mainColor;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      width: 180px;
      color: white;
      font-size: 18px;
      line-height: 23px;
      border: 1px solid $mainColor;
      &:hover {
        background: none;
        border: 1px solid black;
        color: black;
      }
    }
  }
  textarea {
    width: 100%;
    height: 185px;
    margin-top: 40px;
    outline: none;
    border: none;
    resize: none;
    padding: 20px;
  }
  .submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      margin-top: 10px;
      background-color: $mainColor;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 20px;
      width: 100px;
      color: white;
      font-size: 18px;
      line-height: 23px;
      border: 1px solid $mainColor;
      &:hover {
        background: none;
        border: 1px solid black;
        color: black;
      }
    }
  }
}
