@font-face {
  font-display: swap;
  font-family: SofiaPro;
  font-weight: 400;
  src: url(../fonts/SofiaProRegularAz.otf);
}

@font-face {
  font-display: swap;
  font-family: SofiaPro;
  font-weight: 600;
  src: url(../fonts/SofiaProSemiBoldAz.otf);
}

@font-face {
  font-display: swap;
  font-family: SofiaPro;
  font-weight: 700;
  src: url(../fonts/SofiaProBoldAz.otf);
}

@font-face {
  font-display: swap;
  font-family: SofiaPro;
  font-weight: 900;
  src: url(../fonts/SofiaProBlackAz.otf);
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-weight: 300;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}
