@import "./variables.scss";

@media only screen and (max-width: 1024px) {
  .how-works {
    flex-direction: column;
    .section-text {
      text-align: center;
      width: 70%;
      p {
        width: 100%;
      }
    }
  }

  .categories {
    .categories-cards {
      justify-content: center;
    }
    .questions-cards {
      justify-content: center;
    }
  }

  .questions {
    padding: 40px 20px;
    .table {
      .dropdown {
        .dropdown-content {
          right: 0;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }
  }

  .creatingTheme {
    padding: 20px;
  }
  .pageheader {
    .searchInput {
      width: 100%;
      form {
        width: 100%;
        .search-input {
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
    }
  }

  .question {
    padding: 50px 20px;
  }
}

@media only screen and (max-width: 850px) {
  header {
    padding: 20px;
  }

  .help {
    padding: 60px 0;
    .help-container {
      .main-page-cards {
        position: static;
        flex-wrap: wrap;
        .cards {
          margin-bottom: 20px;
        }
      }
    }
  }

  .solution {
    .solution-wrapper {
      .solution-container {
        p {
          width: 100%;
        }
      }
    }
  }

  .questions {
    .searchAndInfo {
      flex-direction: column;
      .searchInput {
        width: 100%;
        form {
          width: 100%;
          .search-input {
            width: 100%;
            input {
              width: 100%;
            }
          }
        }
      }
      ul {
        width: 100%;
        margin-top: 20px;
        justify-content: space-around;
      }
    }
  }

  .question {
    .mainQuestionContent {
      .questionContent {
        .questionImage {
          img {
            width: 100%;
            height: inherit;
            object-fit: contain;
          }
        }
      }
    }
  }

  footer {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      div {
        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    header {
      .hamburger {
        display: block;
      }
      nav {
        display: none;

        ul {
          flex-direction: column;
          li {
            margin-bottom: 20px;
            .active {
              color: grey;
            }
            &:last-child {
              button {
                margin-left: 0;
                a {
                  background-color: white;
                  color: $mainColor;
                }
              }
            }
            a {
              padding: 0;
              color: white;
            }
          }
        }
      }
    }

    .main-page-container {
      padding: 200px 10px;
      .main-text {
        .main-page-text {
          p {
            width: 100%;
          }
        }
      }
    }

    .help {
      .help-container {
        .main-page-cards {
          .cards {
            flex-direction: column;
          }
        }
        .helpCards {
          padding: 20px;
          .card {
            flex-direction: column;
            .card-text {
              width: 100%;
            }
            a {
              width: 100%;
              margin-top: 10px;
            }
          }
        }
      }
    }

    .how-works {
      padding: 40px 20px;
    }

    .categories {
      .categories-cards {
        .card {
          margin-right: 0;
          width: 80%;
        }
      }
    }

    .pageheader {
      flex-direction: column;
      .userDetails {
        margin-top: 10px;
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .help {
    .help-container {
      .main-page-cards {
        padding: 20px;
        .cards {
          width: 100%;
        }
      }
    }
  }

  .search {
    .search-container {
      form {
        input {
          width: 100%;
        }
        button {
          padding: 10px 20px;
        }
      }
    }
  }

  .questions {
    .table {
      .pagination-filter {
        flex-direction: column;
        .dropdown {
          .dropdown-button {
            margin: 5px 0;
          }
        }
      }
      .pagination-bottom {
        justify-content: center;
      }
      .table-context {
        .questions-card {
          flex-direction: column;
          .views-and-answers {
            width: 100%;
            justify-content: flex-start;
            .views,
            .answers {
              flex-direction: row;
              span {
                margin-right: 5px;
              }
            }
            .views {
              margin-left: 62px;
            }
          }
        }
      }
    }
  }
  .question {
    .mainQuestionContent {
      .questionContent {
        .questionText {
          padding: 0;
        }
        .questionSimiliarText {
          .replyAndLikeButtons {
            margin-top: 20px;
          }
          p {
            margin: 0;
          }
        }
      }
    }
    .questionsAndReplyButtons {
      justify-content: center;
    }
  }
}
